/*
!.emacs
!.emacs.d/
!.gitignore
!.zshrc
!.oh-my-zsh
!.screenrc
!.screenrc.nested
!.ssh/config
!.conkerorrc
!README.md
*~
.emacs.d/auto-save-list
.emacs.d/tramp
.emacs.d/ac-comphist.dat
.emacs.d/emacs-visited-files
.emacs.d/*.elc
.emacs.d/image-dired