/*
!.emacs.d/
!.gitignore
!.zshrc
!.oh-my-zsh
!.screenrc
!.screenrc.nested
!.ssh/config
!.conkerorrc
!README.md
*~
*.elc
.emacs.d/auto-save-list
.emacs.d/auto-saves
.emacs.d/server
.emacs.d/tramp
.emacs.d/ac-comphist.dat
.emacs.d/emacs-visited-files
.emacs.d/image-dired
.emacs.d/tetris-scores
.emacs.d/semanticdb
.emacs.d/elim
.emacs.d/url
.emacs.d/history
.conkerorrc/sessions