@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* TABS */
.tab2-label, .tab2-icon {
    font: 11px 'Myriad Pro', Helvetica, sans-serif;
}

.tab2-icon {
    font-weight: bold;
    padding: 1px 2px 0px 3px;
    text-align: center;
}
