@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* TABS */
.tab2-index {
    font-weight: bold;
    padding: 1px 2px 0px 3px;
    text-align: center;
}

.tab2-label, .tab2-index {
    font-size: 90%;
}
