@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* TABS */

#tab2-bar {
    border-bottom: 1px solid #666;
}

.tab2 {
    -moz-appearance: none;
    border-right: 1px solid #666;
}

.tab2[selected=true] {
    background: #ccc;
    border-right: 1px solid #666;
}

.tab2-label, .tab2-index {
    font: 10px 'Lucida Grande', Helvetica, sans-serif;
}

